#main{
    padding: 2em;
    display: grid;
    justify-content: center;
    text-align: center;
}

#caja{
    
    padding: 2em;
    box-shadow: 3px 5px 28px 0px rgba(0,0,0,0.75);
    background-color: rgb(192, 231, 114);
    max-width: 20em;
}

.boton{
    margin-top: 2em;
    color: white;
    background-color: #2672e4;
    border-radius: 3px;
    border-color: black;
    width: 6em;
    height: 4em;
}


footer {
    height: 55px;
    text-align: center;
    background-color: #2672e4;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pieDePagina {
    font-size: 10px;
    color: white;
    vertical-align: left;
    padding-top: 0;
    padding-bottom: 0;
}

.copyleft {
    font-size: 10px;
    color: white;
    vertical-align: right;
    padding-top: 0;
    padding-bottom: 0;
}