@charset "utf-8";
/* CSS Document */

body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
section {
	display:grid;
	grid-auto-flow: dense;	
}
article {
	font-family: 'Lato', sans-serif;
	background-color: yellowgreen;
}
article h1 {
	margin: 1rem 1rem 0rem 1rem;
	text-transform: uppercase;
}

/* NAV */
nav {
	margin-bottom:0.1em;
	font-family: monospace;
	
}
nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
    display:flex;
}
nav li { flex-grow: 1; }
nav a {
	display: block;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	color: #000000;
	border: solid 1px #424242;
	transition: all 0.5s;
    text-transform: uppercase;
    border-radius: 5px;

}
nav a:hover {
    background-color:#5a4ff7;
    color: white;
}


/* ARTICLE */

#main{
	display:grid;
	grid-gap: 1rem;
	padding:1rem;
	justify-content: space-between;
	background-color: yellowgreen;
	height: max-content;
}

.bloque {
	font-family: 'Merriweather', serif;
	box-shadow: 3px 5px 28px 0px rgba(0,0,0,0.75);
	object-fit:fill;
	width: max-content;
	height: max-content;
}

/*ASIDE*/

aside{
	display:grid;
	grid-gap: 1rem;
	padding:1rem;
	justify-content: space-between;
	background-color: yellowgreen;
}


/* FOOTER */

footer {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	background-color: green;
	color: white;
	font-size: 1em;

}

@media (orientation: landscape) {
	section {
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto;
	}
	#main {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
	aside {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}
	nav ul {
		flex-direction: row;
	}
	a {
		margin-right:0.2em;
	}
	}
	@media (orientation: portrait) {
	section {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
	}
	#main {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}
	aside {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
	nav ul {
		flex-direction: column;
	}
	nav a {
		margin-bottom:0.2em;
	}
	}
	